

<div class="container-fluid user-profile-header">
	<div class="row">
		<div class="col-md-3">
			<img class="img-thumbnail profile-picture" src="../images/profilepic.jpg">
		</div>
		<div class="col-md-9">
			<h1>User12345's trips</h1>
			<h3>San Francisco, USA  |  Personal statement: I like to travel</h3>
			<h4><a href="#">myblog.com</a> **this line only available to those with blogs - special login/we have to approve**</h4>
			<div class="col-md-2 user-stats">
				<p><span class="label label-info">3</span></p>
				<p> trips planned</p>
			</div>
			<div class="col-md-2 user-stats">
				<p><span class="label label-info">6</span></p>
				<p> countries visited</p>
			</div>
			<div class="col-md-2 user-stats">
				<p><span class="label label-info">5</span></p>
				<p> trip likes</p>
			</div>
			<div class="col-md-2 user-stats">
				<p><span class="label label-info">10</span></p>
				<p> comunity upvotes</p>
			</div>
			<div class="col-md-4"></div>
		</div>		
	</div>
</div>

<div class="container-fluid">
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Sort
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="#">Most popular</a></li>
	    <li><a href="#">Most recent</a></li>
	    <li><a href="#">Confirmed traveled</a></li>
	    <li><a href="#">Wishlist</a></li>
	  </ul>
	</div>
	<div class="map-preview row">
		<div class="col-md-3 col-sm-6">
			<h4>Vietnam North to South</h4>
			<div class="thumbnail map-holder-preview"><img src="https://www.google.com/maps/api/staticmap?size=275x300&path=weight:5|Hanoi,Vietnam|Halong,Vietnam|Hue,Vietnam|DaLat,Vietnam|HoChiMinhCity,Vietnam"></div>
			<p><a href="#">Vietnam</a></p>
			<div class="col-sm-6">
				<p><a href="#">Like <span class="badge">10</span></a></p>
			</div>
			<div class="col-sm-6">
				<p><span class="label label-warning">Wishlist</span></p>
			</div>
			<a class="btn btn-primary" href="#" role="button">See more</a><a class="btn btn-default" href="#" role="button"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share</a>
		</div>
		<div class="col-md-3 col-sm-6">
			<h4>Eastern Europe</h4>
			<div class="thumbnail map-holder-preview"><img src="https://www.google.com/maps/api/staticmap?size=275x300&path=weight:5|Warsaw,Poland|Kiev,Ukraine|Prague,CzechRepublic|Budapest,Hungary"></div>
			<p><a href="#">Poland, Ukraine +2 others</a></p>
			<div class="col-sm-6">
				<p><a href="#">Like <span class="badge">10</span></a></p>
			</div>
			<div class="col-sm-6">
				<p><span class="label label-success">Confirmed traveled</span></p>
			</div>
			<a class="btn btn-primary" href="#" role="button">See more</a><a class="btn btn-default" href="#" role="button"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share</a>	
		</div>
		<div class="col-md-3 col-sm-6">
			<h4>Colombia and Ecuador</h4>
			<div class="thumbnail map-holder-preview"><img src="https://www.google.com/maps/api/staticmap?size=275x300&path=weight:5|Medellin,Colombia|Quito,Ecuador"></div>
			<p><a href="#">Colombia, Ecuador</a></p>
			<div class="col-sm-6">
				<p><a href="#">Like <span class="badge">10</span></a></p>
			</div>
			<div class="col-sm-6">
				<p><span class="label label-success">Confirmed traveled</span></p>
			</div>
			<a class="btn btn-primary" href="#" role="button">See more</a><a class="btn btn-default" href="#" role="button"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share</a>	
		</div>
		<div class="col-md-3 col-sm-6">
			<h4>South Africa</h4>
			<div class="thumbnail map-holder-preview"><img src="https://www.google.com/maps/api/staticmap?size=275x300&path=weight:5|CapeTown,SouthAfrica|Durban,SouthAfrica"></div>
			<p><a href="#">South Africa</a></p>
			<div class="col-sm-6">
				<p><a href="#">Like <span class="badge">10</span></a></p>
			</div>
			<div class="col-sm-6">
				<p><span class="label label-warning">Wishlist</span></p>
			</div>
			<a class="btn btn-primary" href="#" role="button">See more</a><a class="btn btn-default" href="#" role="button"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share</a>
		</div>
	</div>
		<div class="map-preview row">
		<div class="col-md-3 col-sm-6">
			<h4>Western Europe</h4>
			<div class="thumbnail map-holder-preview"><img src="https://www.google.com/maps/api/staticmap?size=275x300&path=weight:5|Hanoi,Vietnam|Halong,Vietnam|Hue,Vietnam|DaLat,Vietnam|HoChiMinhCity,Vietnam"></div>
			<p><a href="#">Vietnam</a></p>
			<div class="col-sm-6">
				<p><a href="#">Like <span class="badge">10</span></a></p>
			</div>
			<div class="col-sm-6">
				<p><span class="label label-success">Confirmed traveled</span></p>
			</div>
			<a class="btn btn-primary" href="#" role="button">See more</a><a class="btn btn-default" href="#" role="button"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share</a>
		</div>
		<div class="col-md-3 col-sm-6">
			<h4>United States</h4>
			<div class="thumbnail map-holder-preview"><img src="https://www.google.com/maps/api/staticmap?size=275x300&path=weight:5|Warsaw,Poland|Kiev,Ukraine|Prague,CzechRepublic|Budapest,Hungary"></div>
			<p><a href="#">Poland, Ukraine +2 others</a></p>
			<div class="col-sm-6">
				<p><a href="#">Like <span class="badge">10</span></a></p>
			</div>
			<div class="col-sm-6">
				<p><span class="label label-success">Confirmed traveled</span></p>
			</div>
			<a class="btn btn-primary" href="#" role="button">See more</a><a class="btn btn-default" href="#" role="button"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share</a>	
		</div>
		<div class="col-md-3 col-sm-6">
			<h4>China and Japan</h4>
			<div class="thumbnail map-holder-preview"><img src="https://www.google.com/maps/api/staticmap?size=275x300&path=weight:5|Medellin,Colombia|Quito,Ecuador"></div>
			<p><a href="#">Colombia, Ecuador</a></p>
			<div class="col-sm-6">
				<p><a href="#">Like <span class="badge">10</span></a></p>
			</div>
			<div class="col-sm-6">
				<p><span class="label label-success">Confirmed traveled</span></p>
			</div>
			<a class="btn btn-primary" href="#" role="button">See more</a><a class="btn btn-default" href="#" role="button"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share</a>	
		</div>
		<div class="col-md-3 col-sm-6">
			<h4>North Africa</h4>
			<div class="thumbnail map-holder-preview"><img src="https://www.google.com/maps/api/staticmap?size=275x300&path=weight:5|CapeTown,SouthAfrica|Durban,SouthAfrica"></div>
			<p><a href="#">South Africa</a></p>
			<div class="col-sm-6">
				<p><a href="#">Like <span class="badge">10</span></a></p>
			</div>
			<div class="col-sm-6">
				<p><span class="label label-success">Confirmed traveled</span></p>
			</div>
			<a class="btn btn-primary" href="#" role="button">See more</a><a class="btn btn-default" href="#" role="button"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share</a>
		</div>
	</div>
</div>